* {
    margin: 0;
    text-decoration: none;
    font-family: poppins;
}
.container1{
    min-height: 100vh;
    margin: auto;
    max-height: 1080px;
}

.logoNav {
    width: 90px

}


.navStyle {
    align-items: center;
     background-color: white;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.137);

}
.navStyle1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.Section1{
    min-width: 150vh;
}

nav a {
    color: #3B63FB;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.hireMe {
    background-color: #3B63FB;
    color: #fff;
    display: inline-block;
    padding: 5px 24px;
    text-decoration: none;
    border-radius: 21px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.infoMore {
    background-color: #fff;
    color: #3B63FB;
    display: inline-block;
    padding: 5px 25px;
    text-decoration: none;
    border-radius: 21px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    border: solid 1px #3B63FB;
}

.connectButton {
    background-color: #fff;
    color: #3B63FB;
    display: inline-block;
    padding: 8px 25px;
    text-decoration: none;
    border-radius: 21px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    border: solid #3B63FB;
    margin: 38px;
    
  

}

.spanTritre1 {
    display: flex;
    flex-direction: column;
}

.léo {
    font-size: 70px;
    color: #3B63FB;
    padding: 0px 5px;
}


.imgIntro {
    width: 500px;
    padding: 20px;
    margin-right: 35px;
}

.page1 {
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-bottom: -279px;
    margin-top: 100px;


}
.container{
    max-width: 1080px;
    margin: auto;
    min-height: 90vh;
}
.P1{
    margin-bottom: 20px;
    padding: 0px 5px;
    font-size: 20px;
}
.button1{
    padding: 0px 5px;
    display: flex;
    gap: 8pX;
    margin-top: 45px;
}

.titrePromesse{
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    color: #3B63FB;
    padding: 20px 412px;
    margin-bottom: 120px;
    margin-top: 25px;
    font-weight: 600;
}
.listPromesse{
    display: flex;
    justify-content: right;
    flex-direction: row;

}
.promesse{
    min-height: 100vh;
    margin: auto;
    max-height: 1080px;
}

.imgPromesse{
    width: 50%;
    margin-left: 40px;
    margin-right: -180px;
    
}
.listePromesse{
    padding: 100px 10px;
    font-size: 18px;
    line-height: 2.5;
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
}
 .listePromesse li{
    margin-bottom: 15px;
    padding: 0px 35px;
}
.appelAction{
    background-color: #3B63FB;
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
}
.buttonAppelAction{
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
    margin-left: 405px;
}
.serviceProposes h1{
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    color: #3B63FB;
    padding: 20px 480px;
    margin-bottom: 120px;
    margin-top: 135px;
    font-weight: 600;
}
.cardService img{
    width: 20%;
}
.cardService h4{
    font-weight: 400
}
.cardService p{
    font-weight: 300;
}
.cardService a{
    background-color: #3B63FB;
    color:white;
    border-radius: 40px;
    padding: 6px 24px;
}
.cardService{
    display: flex;
    flex-direction: column;
}


